  * {
    box-sizing: border-box;
  }
  form {
    margin-left: 5%;
    padding: 1rem;
    border: 1px gray solid;
    width: 90%;
  }
  label:after {
    content: "";
    display: table;
    margin-bottom: 1rem;
  }
  img {
    margin-left: 5%;
    width: 90%;
  }
  @media(min-width: 700px){
    form {
      width: 40%;
      float: left;
    }
    img {
      width: 40%;
      float: right;
      margin-right: 5%;
    }
